body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.page-container {
    background-color: rgba(32, 32, 29, 0.9);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-header {
    
    background-color: #187cbf;
    color: #9c8e8e;
    text-align: center;
    padding: 20px 0;
}

.event-name {
    color: #2b063d;
}

.task-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
}

.task-title {
    font-size: 24px;
    color: #2c3e50;
    text-align: center;
}

.question-title {
    color: #e74c3c;
}

.question-text {
    color: #333;
}

.image-title {
    color: #e74c3c;
}

.link-title {
    color: #e74c3c;
}

.link-text {
    color: #3498db;
}

.answer-title {
    color: #e74c3c;
}

.answer-text {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
    color: #333;
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.submit-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #2980b9;
}
